:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --primary-background-color: #ffffff;
  --secondary-background-color: #2f303a;
  --tertiary-background-color: #f5f4fa;
  --accent-color: #2196f3;
  --secondary-accent-color: #188ce8;
  --header-logo-color: #000000;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

body {
  background-color: var(--primary-background-color);
  font-family: Roboto, Raleway, sans-serif;
  color: var(--primary-text-color);
}

/*====Header====*/

.logo {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.header-logo {
  color: var(--header-logo-color);
}

.nav-list-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}

.nav-list .nav-list-link:hover,
.nav-list .nav-list-link:focus {
  color: var(--accent-color);
}

.nav-list .nav-list-link.current {
  color: var(--accent-color);
}

.contact-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.contact-link:hover,
.contact-link:focus {
  color: var(--accent-color);
}

/*====WebStudio-Main====*/

.hero {
  background-color: var(--secondary-background-color);
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-background-color);
}

.hero-btn {
  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--primary-background-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--secondary-accent-color);
}

.features-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}

.features-text {
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.team {
  background-color: var(--tertiary-background-color);
}

.section-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.team-card {
  background: var(--primary-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-card-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.team-card-description {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

/*====Portfolio-Main====*/

.btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: var(--tertiary-background-color);
  border-radius: 4px;
  border-style: none;
}

.btn:hover,
.btn:focus {
  color: var(--primary-background-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  cursor: pointer;
}

.project-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}
.project-description {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

/*====Footer====*/

.footer {
  background-color: var(--secondary-background-color);
}

.footer-logo {
  color: var(--primary-background-color);
}

.map-link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-background-color);
}

.mail,
.contact-number {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
